.App{
}
.main-container{
  display: flex;
  
  height: 100vh;
}
.login-container{
  width: 50%;
  background-color: aquamarine;
}
.signup-container{
  width: 50%;
  background-color: rgb(182, 156, 156);
}
